mixin catalog-cards(array)
  each item in array
    li.catalog__item
      article.catalog-card
        .catalog-card__image-wrapper
          picture
            source(srcset= item.imageSource + ".webp" type="image/webp")
            img(loading="lazy" src= item.imageSource + ".jpg" width= item.imageWidth height= item.imageHeight alt= item.cardTitle).catalog-card__image
        .catalog-card__description
          h3.catalog-card__title= item.cardTitle
          a(href= item.cardLink).catalog-card__link смотреть
