mixin composition-thumbs(array)
  - var thumbAltTextNumber = 1;
  each item in array
    li.compositions__item
      picture
        source(srcset= item.thumb + ".webp" type="image/webp")
        img(loading="lazy" tabindex="0" src= item.thumb + ".jpg" width="123" height="123" data-full-image= item.big class= item.thumbClass alt=`Превью изображения цветочной композиции - ${thumbAltTextNumber}`)
    - thumbAltTextNumber += 1;
