mixin giftCard(array)
  - var delay = 300
  each item in array
    li.gift__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay=`${delay}` class= item.cardAddClass)
      .gift__card
        img(src="img/common/logo.svg" width="135" height="44", alt="Логотип сайта - Весна всегда").gift__icon
        p.gift__price= item.cardPrice
        p.gift__number= item.cardNumber
      .gift__text
        p.gift__description= item.cardDescription
        .gift__button
          a(href= item.cardUrl).button Получить
    - delay += 300
