extends ../layout/main-template.pug

block vars
  - var pageTitle = "Весна всегда - цветочный магазин";
  - var htmlClass = "";
  - var bodyClass = "index-page";
  - var siteNavigation = [{linkName: "Услуги", linkUrl: "#"},{linkName: "Акции", linkUrl: "#"},{linkName: "Композиции", linkUrl: "#"},{linkName: "Подарочные карты", linkUrl: "#"},{linkName: "Наши партнёры", linkUrl: "#"}];
  - var socials = [{linkUrl: "#", linkTitle: "Мы в Тик-Токе", linkIcon: "socials__link--tiktok"},{linkUrl: "#", linkTitle: "Мы в Одноклассниках", linkIcon: "socials__link--ok"},{linkUrl: "#", linkTitle: "Мы в Телеграм", linkIcon: "socials__link--telegram"},{linkUrl: "#", linkTitle: "Мы в Вконтакте", linkIcon: "socials__link--vk"}];
  - var catalogCards = [{imageSource: "img/wedding-bouquet", imageWidth: "330", imageHeight: "223", cardTitle: "Букет невесты и свадебное оформление", cardLink: "#"},{imageSource: "img/celebration-bouquet", imageWidth: "330", imageHeight: "610", cardTitle: "Букеты на торжества", cardLink: "#"},{imageSource: "img/compositions", imageWidth: "330", imageHeight: "370", cardTitle: "Композиции", cardLink: "#"},{imageSource: "img/event-design", imageWidth: "330", imageHeight: "146", cardTitle: "Оформление мероприятий", cardLink: "#"},{imageSource: "img/flower-delivery", imageWidth: "330", imageHeight: "245", cardTitle: "Доставка цветов", cardLink: "#"},{imageSource: "img/packaging-and-accessories", imageWidth: "330", imageHeight: "146", cardTitle: "Упаковка и аксессуары", cardLink: "#"},{imageSource: "img/photo-shoot-in-the-greenhouse", imageWidth: "330", imageHeight: "146", cardTitle: "Фотосессии в нашей оранжерее", cardLink: "#"},{imageSource: "img/floristry-courses", imageWidth: "330", imageHeight: "370", cardTitle: "Курсы по флористике", cardLink: "#"}];
  - var compositionThumbs = [{big: "img/composition-1", thumb: "img/composition-1-thumb", thumbClass: "compositions__thumb compositions__thumb--active"},{big: "img/composition-2", thumb: "img/composition-2-thumb", thumbClass: "compositions__thumb"},{big: "img/composition-3", thumb: "img/composition-3-thumb", thumbClass: "compositions__thumb"},{big: "img/composition-4", thumb: "img/composition-4-thumb", thumbClass: "compositions__thumb"}];
  - var giftCards = [{cardNumber: "328572915", cardPrice: "3 000", cardAddClass: "", cardUrl: "#", cardDescription: "Порадуйте своих близких подарочной картой на 3 000 рублей"},{cardNumber: "368236061", cardPrice: "10 000", cardAddClass: "gift__item--big", cardUrl: "#", cardDescription: "Порадуйте своих близких подарочной картой на 10 000 рублей"},{cardNumber: "374678982", cardPrice: "6 000", cardAddClass: "", cardUrl: "#", cardDescription: "Порадуйте своих близких подарочной картой на 6 000 рублей"}];
  - var suppliers = [{link: "#", imageUrl: "img/supplier-1", imageWidth: "370", imageHeight: "122", imageName: "Гладиолус"},{link: "#", imageUrl: "img/supplier-2", imageWidth: "370", imageHeight: "122", imageName: "European Flowers"},{link: "#", imageUrl: "img/supplier-3", imageWidth: "370", imageHeight: "122", imageName: "First Roses"},{link: "#", imageUrl: "img/supplier-4", imageWidth: "571", imageHeight: "190", imageName: "Sakura"},{link: "#", imageUrl: "img/supplier-5", imageWidth: "571", imageHeight: "190", imageName: "Розы из Эквадора"},{link: "#", imageUrl: "img/supplier-6", imageWidth: "268", imageHeight: "90", imageName: "Первый цветочный"},{link: "#", imageUrl: "img/supplier-7", imageWidth: "268", imageHeight: "90", imageName: "Цветы мира"},{link: "#", imageUrl: "img/supplier-8", imageWidth: "268", imageHeight: "90", imageName: "Start Logistic"},{link: "#", imageUrl: "img/supplier-9", imageWidth: "268", imageHeight: "90", imageName: "Фотостудия №1"}];
  - var footerNavigation = [{link: "#", linkName: "Cвадебная флористика"},{link: "#", linkName: "Букеты на любые мероприятия"},{link: "#", linkName: "Букеты невесты"},{link: "#", linkName: "Композиции"},{link: "#", linkName: "Оформление мероприятий"}];

block content
  main.index-page__main
    h1.visually-hidden Сайт цветочного магазина - Весна всегда
    include ../includes/_hero.pug
    include ../includes/_catalog.pug
    include ../includes/_offer.pug
    include ../includes/_compositions.pug
    include ../includes/_gift.pug
    include ../includes/_suppliers.pug


block prepend scripts
  script(src="js/masonry.pkgd.min.js")
