extends ../layout/main-template.pug

block vars
  - var pageTitle = "Весна всегда - цветочный магазин";
  - var htmlClass = "";
  - var bodyClass = "index-page";

block content
  main.index-page__main
    h1.visually-hidden Сайт цветочного магазина - Весна всегда
    include ../includes/_hero.pug
    include ../includes/_catalog.pug
    include ../includes/_offer.pug
    include ../includes/_compositions.pug
    include ../includes/_gift.pug
    include ../includes/_suppliers.pug


block prepend scripts
  script(src="js/smooth-scroll.polyfills.min.js")
  script(src="js/masonry.pkgd.min.js")
