extends ../layout/main-template.pug

block vars
  - var pageTitle = "Весна всегда - цветочный магазин";
  - var htmlClass = "page-html";
  - var bodyClass = "page-body";
  - var siteNavigation = [{linkName: "Услуги", linkUrl: "#"},{linkName: "Акции", linkUrl: "#"},{linkName: "Композиции", linkUrl: "#"},{linkName: "Подарочные карты", linkUrl: "#"},{linkName: "Наши партнёры", linkUrl: "#"}];
