section.catalog.index-page__catalog#catalog
  .container
    h2(data-title="Каталог услуг").section-title.catalog__title Каталог услуг
    ol.catalog__list
      +catalog-cards(pugData.catalogCards)


