section.compositions.index-page__compositions#compositions
  .container
    .promo.promo--reverse
      div(data-aos="fade-left" data-aos-duration="1000").promo__element-1.compositions__element-1
        h2.promo__title композиции и шляпные коробки
        p.promo__description.compositions__description Композиции могут собираться в любой таре: корзинке, шляпной коробке, вазочке или декоративных ящиках. Их нет необходимости ставить в вазу, как букеты, потому что цветы питаются при помощи специальной флористической губки под названием оазис.#[br] Композиции очень удобные для подарка, или оформления мероприятия.
        .compositions__button
          a(href="#").button Заказать
        ul.compositions__list
          +composition-thumbs(pugData.compositionThumbs)
      div(data-aos="fade-right" data-aos-duration="1000").promo__element-2.compositions__element-2
        picture.promo__picture.compositions__picture
          source(srcset="img/composition-1.webp" type="image/webp")
          img(loading="lazy" src="img/composition-1.jpg" width="996" height="855" alt="Композиции и шляпные коробки").promo__image
