header.header
  .container.header__container
    a.logo
      img(src="img/logo.svg" width="135" height="44", alt="Логотип сайта - Весна всегда").logo__icon
    nav.site-navigation
      +site-navigation(siteNavigation)
    a(href="tel:+79163921777").header__phone +7 (916) 392 17 77
