header.header
  .container.header__container
    .header__logo
      a(href="/").logo
        img(src="img/logo.svg" width="135" height="44", alt="Логотип сайта - Весна всегда").logo__icon
    .mobile-menu
      nav.site-navigation.header__site-navigation
        +site-navigation(pugData.siteNavigation)
      .header__phone
        a(href="tel:+79163921777").header-phone +7 (916) 392 17 77
    button(type="button" class="burger-button" aria-label="Открыть меню")
      span.burger-button__line
  span.header__overlay
