section.hero.index-page__hero
  .container.hero__container
    .hero__main-content
      h2(data-aos="fade-up" data-aos-duration="1000").hero__title Флористика с душой
      a(href="#" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700").button.button--dark Смотреть работы
    ul(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700").socials.socials--column.hero__socials
      +socials(pugData.socials)
    a(href="#catalog" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700").hero__link смотреть каталог
