section.hero
  .container.hero__container
    .hero__main-content
      h2.hero__title Флористика с душой
      a(href="#").button Смотреть работы
    ul.socials.socials--column.hero__socials
      +socials(socials)
    a(href="#").hero__link смотреть каталог
