section.offer.index-page__offer#promotions
  .container
    .promo
      div(data-aos="fade-right" data-aos-duration="1000").promo__element-1
        h2.promo__title Акционные предложения
        p.promo__description При заказе свадебного предоставляется скидка на букет невесты и бутоньерку в размере 30%
        .promo__button
          a(href="#").button Заказать оформление
      div(data-aos="fade-left" data-aos-duration="1000").promo__element-2
        picture.promo__picture
          source(srcset="img/content/promo/offer-image.webp" type="image/webp")
          img(loading="lazy" src="img/content/promo/offer-image.jpg" width="697" height="410" alt="Скидка на букет невесты и бутоньерку").promo__image
