@mixin font($name, $font-family, $weight) {
  @font-face {
    src:
      local(""),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin px375 {
  @media (max-width: 375px) {
    @content;
  }
}

// @include px375 {}

@mixin px450 {
  @media (max-width: 450px) {
    @content;
  }
}

// @include px450 {}

@mixin px600 {
  @media (max-width: 600px) {
    @content;
  }
}

// @include px600 {}

@mixin px768 {
  @media (max-width: 768px) {
    @content;
  }
}

// @include px768 {}

@mixin px1124 {
  @media (max-width: 1124px) {
    @content;
  }
}

// @include px1124 {}

@mixin px1500 {
  @media (max-width: 1500px) {
    @content;
  }
}

// @include px1500 {}
