:root {
  --serif: "Forum", serif;
  --timing: 0.3s;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-tamarind: 59 24 30;  /* #3B181E */
  --color-tamarind-dark: 40 16 20;  /* #281014 */
  --color-woodsmoke: 10 10 14;  /* #0A0A0E */
  --color-charade: 38 40 53; /* #262835 */
}
