.button {
  position: relative;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgb(var(--color-white));
  border-radius: 0;
  padding: 19px 37px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(var(--color-white));
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.button--dark {
  background-color: rgba(var(--color-black) / 40%);
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border: 1px solid rgba(var(--color-white) / 20%);
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
}

.button:hover::after,
.button:focus::after {
  transform: translate(10px, 10px);
}
