.catalog__title {
  margin-bottom: 114px;
}

.catalog__list {
  counter-reset: list-counter;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  @include px450 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.catalog__item {
  counter-increment: list-counter;
  position: relative;
  margin-bottom: 40px;
  max-width: 350px;
}

.catalog__item::before {
  content: "0" counter(list-counter) url("../img/counter-dash.svg");
  position: absolute;
  left: 33px;
  top: 51px;
  display: block;
  width: auto;
  height: 20px;
  font-size: 20px;
  color: rgb(var(--color-white));
}
