.compositions__element-1 {
  flex-shrink: 2;
  margin-right: 0;
  margin-left: 107px;
  padding-top: 7px;
  max-width: 620px;

  @include max-xl {
    flex-shrink: 1.6;
    margin-left: 40px;
  }

  @include max-lg {
    margin-bottom: 20px;
    margin-left: 0;
    max-width: 100%;
  }
}

.compositions__description {
  margin-bottom: 32px;
  line-height: 1.5;
}

.compositions__button {
  display: inline-block;
  margin-bottom: 99px;

  @include max-xl {
    margin-bottom: 50px;
  }

  @include max-lg {
    display: block;
    text-align: center;
  }
}

.compositions__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  @include max-lg {
    justify-content: center;
  }
}

.compositions__item:not(:last-of-type) {
  margin-right: 14px;
  margin-bottom: 14px;

  @include max-sm {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

.compositions__item {
  padding: 0;
  width: 123px;
  height: 123px;
  line-height: 0;

  @include max-xl {
    width: 100px;
    height: 100px;
  }

  @include max-sm {
    margin: 4px;
    width: 80px;
    height: 80px;
  }

  @include max-xs {
    width: 70px;
    height: 70px;
  }
}

.compositions__thumb {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2px;
  height: 100%;
  box-sizing: content-box;
  cursor: pointer;

  &:focus {
    @include outline;
  }

  @include max-xl {
    display: block;
  }
}

.compositions__thumb--active {
  border: 1px solid var(--color-white-20);
}
