.compositions__element-1 {
  margin-right: 0;
  margin-left: 84px;
  max-width: 614px;
}

.compositions__button {
  margin-bottom: 100px;
}

.compositions__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.compositions__item:not(:last-of-type) {
  margin-right: 23px;
}

.compositions__item {
  padding: 0;
  line-height: 0;
}

.compositions__thumb {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
}

.compositions__thumb--active {
  border: 1px solid rgba(var(--color-white) / 20%);
}
