.footer {
  border-top: 1px solid rgba(var(--color-white) / 20%);
}

.footer__navigation {
  margin-bottom: 7px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include px1500 {
    flex-wrap: wrap;
  }
}

.footer-navigation__item {
  margin: 20px 25px;

  @include px450 {
    margin: 14px 20px;
  }
}

.footer-navigation__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(var(--color-white) / 50%);

  @include hover-focus {
    text-decoration: underline;
  }
}

.footer__socials {
  margin-bottom: 68px;
}
