.header {
  position: relative;
  z-index: 10;
  padding: 87px 0;
}

.header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo {
  flex: 1 1 16%;
}

.header__site-navigation {
  display: flex;
  flex: 1 1 66%;
  align-items: center;
  justify-content: center;
}

.header__phone {
  flex: 1 1 16%;
  font-size: 20px;
  letter-spacing: 1.25px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(var(--color-white));
}

.header__phone:hover,
.header__phone:focus {
  text-decoration: underline;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  max-width: 890px;
}

.site-navigation__item:not(:last-of-type) {
  margin-right: 60px;
}

.site-navigation__link {
  font-size: 20px;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(var(--color-white));
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  text-decoration: underline;
}
