.hero {
  position: relative;
  padding-top: 242px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg-bottom.png"), url("../img/hero-bg.jpg");
  background-position: 0 bottom, center top;
  background-size: 100% 75px, cover;
  background-repeat: repeat-x, no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 150px;
  width: 38px;
  height: 58px;
  background-image: url("../img/mouse-ic.svg");
  background-position: center;
  background-size: 36px 56px;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  animation: jumping 2.5s ease-in-out infinite;
}

@keyframes jumping {
  0% {
    transform: translate(-50%, -5px);
  }

  50% {
    transform: translate(-50%, 5px);
  }

  100% {
    transform: translate(-50%, -5px);
  }
}

.hero__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero__main-content {
  order: 2;
  margin-top: 100px;
  margin-bottom: 57px;
  padding-bottom: 157px;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 81px;
  padding-left: 9px;
  max-width: 840px;
  font-weight: 400;
  font-size: 120px;
  line-height: 1.1;
  letter-spacing: 10.6px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--color-white));
}

.hero__socials {
  order: 1;
}

.hero__link {
  position: relative;
  order: 3;
  padding-bottom: 44px;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 1.5px;
  text-decoration: none;
  writing-mode: vertical-rl;
  color: rgb(var(--color-white));
}

.hero__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  width: 15px;
  height: 21px;
  background-image: url("../img/arrow-bottom.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease-in-out;
}

.hero__link:hover::after,
.hero__link:focus::after {
  transform: translate(-50%, -10px);
}
