.index-page__main {
  z-index: 5;
  margin-top: -242px;
}

.index-page__hero {
  margin-bottom: 100px;

  @include px600 {
    margin-bottom: 70px;
  }
}

.index-page__catalog {
  margin-bottom: 177px;
  padding-top: 35px;

  @include px1124 {
    margin-bottom: 120px;
  }

  @include px768 {
    margin-bottom: 100px;
  }

  @include px450 {
    margin-bottom: 70px;
  }
}

.index-page__offer {
  margin-bottom: 233px;
  padding-top: 35px;

  @include px1124 {
    margin-bottom: 140px;
  }
}

.index-page__compositions {
  margin-bottom: 211px;
  padding-top: 35px;

  @include px1124 {
    margin-bottom: 140px;
  }
}

.index-page__gift {
  margin-bottom: 221px;
  padding-top: 35px;

  @include px1124 {
    margin-bottom: 140px;
  }
}

.index-page__suppliers {
  margin-bottom: 178px;
  padding-top: 35px;

  @include px1124 {
    margin-bottom: 140px;
  }
}
