.index-page__main {
  z-index: 5;
  margin-top: -242px;
}

.index-page__hero {
  margin-bottom: 135px;

  @include px1500 {
    margin-bottom: 100px;
  }

  @include px600 {
    margin-bottom: 70px;
  }
}

.index-page__catalog {
  margin-bottom: 212px;

  @include px1124 {
    margin-bottom: 120px;
  }

  @include px768 {
    margin-bottom: 100px;
  }

  @include px450 {
    margin-bottom: 70px;
  }
}

.index-page__offer {
  margin-bottom: 268px;

  @include px1124 {
    margin-bottom: 140px;
  }
}

.index-page__compositions {
  margin-bottom: 246px;

  @include px1124 {
    margin-bottom: 140px;
  }
}

.index-page__gift {
  margin-bottom: 256px;

  @include px1124 {
    margin-bottom: 140px;
  }
}

.index-page__suppliers {
  margin-bottom: 178px;

  @include px1124 {
    margin-bottom: 140px;
  }
}
