.promo {
  display: flex;
  align-items: center;
  justify-content: center;

  @include px1124 {
    flex-direction: column;
    margin: 0 auto;
    max-width: 750px;
  }
}

.promo--reverse {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.promo__element-1 {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 73px;
  max-width: 400px;

  @include px1124 {
    flex-shrink: 1;
    margin-right: 0;
    margin-bottom: 70px;
    max-width: 100%;
  }
}

.promo__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: 0.09em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(var(--color-white));

  @include px1124 {
    font-size: 40px;
  }

  @include px450 {
    font-size: 36px;
  }
}

.promo__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 85px;
  height: 2px;
  background-color: rgb(var(--color-white));
  transform: translateX(0);
}

.promo__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0;
  color: rgb(var(--color-white));
}

.promo__button {
  @include px1124 {
    text-align: center;
  }
}

.promo__element-2 {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 20px;
  line-height: 0;

  @include px1124 {
    flex-grow: 1;
  }
}

.promo__element-2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid rgba(var(--color-white) / 20%);
  width: auto;
  height: 100%;
  transform: translate(24px, 24px);
}

.promo__image {
  width: 100%;
  height: 100%;
}
