.section-title {
  position: relative;
  margin-top: 0;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--color-white));
}

.section-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -21px;
  width: 85px;
  height: 2px;
  background-color: rgb(var(--color-white));
  transform: translateX(-50%);
}

.section-title::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -219px;
  z-index: 20;
  width: 100%;
  font-weight: 400;
  font-size: 220px;
  line-height: 243px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--color-white));
  opacity: 0.03;
  transform: translateX(7px);

  @include px1500 {
    font-size: 150px;
    line-height: 160px;
  }

  @include px1124 {
    bottom: -128px;
    font-size: 100px;
    line-height: 110px;
  }

  @include px768 {
    bottom: -112px;
    font-size: 70px;
    line-height: 80px;
  }

  @include px600 {
    bottom: -100px;
    font-size: 50px;
    line-height: 60px;
  }

  @include px450 {
    bottom: -96px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.03em;
  }
}
