.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.socials--column {
  flex-direction: column;
}

.socials--column .socials__item:not(:last-of-type) {
  margin-right: 0;
  margin-bottom: 24px;
}

.socials__item:not(:last-of-type) {
  margin-right: 50px;
}

.footer__socials .socials__item:not(:last-of-type) {
  @include px600 {
    margin-right: 25px;
  }
}

.socials__link {
  display: block;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;

  &:focus {
    @include outline;
  }

  @include hover {
    opacity: 0.6;
  }
}

.socials__link--tiktok {
  background-image: url("../img/tiktok-ic.svg");
  background-size: 12px 14px;
}

.socials__link--ok {
  background-image: url("../img/odnoklassniki-ic.svg");
  background-size: 9px 15px;
}

.socials__link--telegram {
  background-image: url("../img/telegram-ic.svg");
  background-size: 14px 11px;
}

.socials__link--vk {
  background-image: url("../img/vk-ic.svg");
  background-size: 15px 9px;
}
