.suppliers__title {
  margin-bottom: 71px;
}

.suppliers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1300px;

  @include px1500 {
    max-width: 1200px;
  }
}

.suppliers__item {
  margin: 17px;

  @include px375 {
    margin: 10px 0;
  }
}

.suppliers__link {
  display: block;
  line-height: 0;
}

.suppliers__image {
  @include px1500 {
    width: 268px;
    height: 90px;
    object-fit: contain;
  }
}
